<h1> Shoutr </h1>

<%= link_to current_user.email, current_user %>
<%= link_to "Following", :following %>
<%= link_to "who I'm following", :followers %>



<%= form_for @text_subject do |form|  %>
  <%= form.text_area :body, placeholder: "enter a new SHOUT" %>
  <%= form.submit "Submit" %>
<% end %>

<%= form_for @image_subject do |form| %>
  <%= form.text_field :url, placeholder: "enter a new image SHOUT" %>
  <%= form.submit "Submit" %>
<% end %>

<%= render @shout_feed  %>
  
